<header class="header-container">
  <div class="header-top">
    <div class="container">
      <div class="row">
        <!-- Header Language -->
        <div class="col-xs-6">
          <div class="dropdown block-language-wrapper"> <a role="button" data-toggle="dropdown" data-target="#" class="block-language dropdown-toggle" href="#"> <img src="images/english.png" alt="language"> English <span class="caret"></span> </a>
            <ul class="dropdown-menu" role="menu">
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><img src="images/english.png" alt="language"> English </a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><img src="images/francais.png" alt="language"> French </a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><img src="images/german.png" alt="language"> German </a></li>
            </ul>
          </div>
          <!-- End Header Language -->
          <!-- Header Currency -->
          <div class="dropdown block-currency-wrapper"> <a role="button" data-toggle="dropdown" data-target="#" class="block-currency dropdown-toggle" href="#"> USD <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#"> $ - Dollar </a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#"> £ - Pound </a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#"> € - Euro </a></li>
            </ul>
          </div>
          <!-- End Header Currency -->
          <div class="welcome-msg hidden-xs"> Default welcome msg! </div>
        </div>
        <div class="col-xs-6">
          <!-- Header Top Links -->
          <div class="toplinks">
            <div class="links">
              <div class="myaccount"><a title="My Account" href="login.html"><span class="hidden-xs">My Account</span></a></div>
              <div class="wishlist"><a title="My Wishlist"  href="wishlist.html"><span class="hidden-xs">Wishlist</span></a></div>
              <div class="check"><a title="Checkout" href="checkout.html"><span class="hidden-xs">Checkout</span></a></div>
              <div class="login"><a title="Login" href="login.html"><span  class="hidden-xs">Log In</span></a></div>
            </div>
          </div>
          <!-- End Header Top Links -->
        </div>
      </div>
    </div>
  </div>
  <div class="header container">
    <div class="row">
      <div class="col-lg-2 col-sm-3 col-md-2">
        <div class="logo">
          <!-- Header Logo -->
          <%= logo %>
        </div>
      </div>
      <%= render :partial => 'spree/shared/nav_bar' %>
    </div>
  </header>
  <div class="container">
    <%= render :partial => 'spree/shared/main_nav_bar' if store_menu? %>
  </div>
</div>